body{
    display: flex;
    display: -webkit-flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;
    -webkit-flex-flow: row wrap;
}

.title{
    display:flex;
    width: 100vw;

    border: red 3px solid;
}

